.d{
    
    margin-left: 20px;
    
  }
  .ds{
    margin-left: 7px;
    margin-top: 10px;
}
  ul {
    list-style-type: none;
  }
  .TOP{
    display: block;
    height : 50%;
    width: 100%;
    background: grey;
    margin-bottom: 0px;
  }
  .Table1{
    margin-left: 20px;
    margin-right: 20px;
    height : 55%;
    width: 90%;
    border: solid grey;
  }
  .Table2{
    margin-left: 20px;
    margin-right: 20px;
    height : 55%;
    width: 90%;
    border: solid grey;
  }
  .Table3{
    margin-left: 20px;
    margin-right: 20px;
    height : 55%;
    width: 90%;
    border: solid grey;
  
  }
  .Table4{
    border: solid grey;
  }
  
  .Middle{
  
    height: 30%;
    width: 40%;
    margin: 20px auto;
  }
  
  table{
    margin: auto auto;
  }
  .Bottom{
    
    text-align: center;
    background: grey;
    height: 250px;
    padding: auto auto;
  }
  
  .btnn {
    margin-top: 10px;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    margin: 50px 0 0;
    text-decoration: none;
    border-radius:8px;
    start-gradient-color:#11cdd4;
    End-gradient-colour: #11999e;
    Hover-start-colour: #30e3cb;
    Hover-end-colour: #2bc4ad;
    background:#A5F1E9 ;
  }
  
  .btnn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  
  .navbar{
    font-family: sans-serif;
  }
  
  .dd{
    text-align: center;
    margin:25px auto;
    color: grey;
    font-size: 20px;
    font-family: 'Sacramento', cursive;
  }
  
  .k{
    padding-top: 50px;
  }
  .navbarr{
    margin-bottom: 30px;
    color: white;
    background: gray;
    font-weight: bold;
    font-size: 40px;
  }


  .gray {
    color: gray;
  }
  .orange {
    color: orange;
  }
